[build]
    command = "npm run build"
    publish = "dist"
    functions = "functions"
[dev]
    functions = "functions"
    port = 8888
[build.environment]
    NODE_VERSION = "20"

[[redirects]]
    from = "/*"
    to = "/index.html"
    status = 200