.contact-container{
    display: flex;
    background-color: #2a2a2a; 
    box-sizing: border-box;
    padding: 5rem;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.contact-title{
    align-content: center;
    padding-right: 20px;
    color: white;
    text-shadow: 0.5px 0.5px 1px #66ffcc;
}
.contact-forms{
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-content: center;
    align-items: center;
    width: 300px;
}
.contact-name,
.contact-email,
.contact-number,
.contact-message{
    resize: none;
    box-shadow: #92D050;
    margin: 10px;
    display: block;
    width: 100%;    
    border-radius: 10px;
    padding: 5px;
}

.contact-status{
    color: white;
    margin: 10px;
}

.contact-submit{
    align-items: center;
}

.contact-message{
    height: 200px;
}

.events-decorative-bg{
    position: absolute;
    top: 10%;
    left: 150px;
    transform: translateX(-50%);
    max-width: 600px;
    width: 80%;
    opacity: 0.5;
    z-index: 0;
}

@media (min-width: 768px) {
}

@media (max-width: 768px) {
    .contact-container{
        display: flex;
        background-color: #2a2a2a; 
        width: 100%;
        padding: 2rem 1rem; 
        box-sizing: border-box;
    }
    .contact-title{
        align-content: center;
    }
    .contact-forms{
        align-content: center;
        width: 200px;
    }
    .contact-message{
        height: 150px;
    }

}
