/* projects section rules */
#projects {
    display: flex;
    flex-flow: column nowrap;
    height: auto;
    align-items: center;
    color: white;
    background-color: #2a2a2a;
    position: relative;
}

.projects-title-container {
    color: rgb(255, 255, 255);
    margin-top: 1rem;
}

.project-container {
    margin: 1rem 0;
    text-align: center;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    padding: 0 5%;
}

.project-container ul {
    list-style: none;
}

.project-description li.button-container {
    display: flex;
    flex-direction: column;
    padding: 5px;
    gap: 0.5rem;
}

/* hide desktop projects elements */
#projects .circle,
.projects-banner {
    display: none;
}
.projects-banner{
    border-radius: 15px;
}

.project-title-container {
    font-size: 0.75rem;
    padding: 0.15rem;
    color: var(--gray);
    border-bottom: 1px solid  #7cebff;
    margin: 0 auto;
    margin-bottom: 1rem;
    width: 75%;
    text-align: center;
}

#second-project {
    border-color: var(--green);
}

.project-description {
    margin-bottom: 2rem;
}

.project-description li {
    margin-bottom: 1rem;
}

.project-description li a {
    color: #1bc778;
}

.project-description li.button-container .button {
    align-self: center;
    border: 1px solid white;
    display: inline-block;
    font-family: 'Josefin Sans';
    font-weight: 300;
    text-decoration: none;
    padding: 0.45rem;
}

.project-description li.button-container .button:active {
    background-color: #fff;
    color: #1bc778;
    border-color:#1bc778
}


.app-demo {
    color: var(--blue);
    text-decoration: none;
}

.project-media {
    display: initial;
    width: 75%;
    object-fit: cover;
    border-radius: 15px;
}

.old-website-video {
    width: 100%;
    border-radius: 15px;
}

/* alumni rules */
#alumni {
    display: flex;
    flex-flow: column nowrap;
    height: auto;
    margin: 0;
    padding: 0;
}

/* Previous change: order: 2 */
.alumni-section-container {
    overflow: hidden;
    order: 1;
}

.mobile-alumni-title {
    margin-top: 3rem;
    text-align: center;
    font-size: 24px;
}

.desktop-alumni-title {
    display: none;
}

.alumni-gallery-container {
    overflow: hidden;
}

.alumni-gallery {
    display: flex;
    align-self: flex-start;
    flex-flow: row nowrap;
    transition: all 0.75s ease-in-out;
    position: relative;
    height: 30vh;
}

.alumni-gallery-counter {
    text-align: center;
}

.alumni-picture {
    display: initial;
    object-fit: cover;
    width: 50vw;
    height: 35vh;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.alumni-picture-active {
    opacity: 1;
}

.alumni-picture-inactive {
    opacity: 0;
}


@media only screen and (min-width: 768px){
    /* projects section rules */

    #projects {
        color: white;
        background-color: #2a2a2a;
        position: relative;
    }

    /* white line connecting to blue line from events section */
    #projects::before {
        content: '';
        position: absolute;
        width: 4.5px;
        background-color: white;
        display: block;
        height: 20vh;
        top: -5rem;
        right: 5%;
        z-index: 3;
    }

    .projects-title-container {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-end;
        border: 5px solid white;
        border-left: none;
        border-top: none;
        width: 100%;
        padding: 0;
        padding-top: 2rem;
        margin: 0;
        color: white;
    }

    .projects-title {
        margin-right: 15%;
        font-size: 5rem;
        padding: 1rem;
    }

    .project-title-container {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: flex-start;
        width: auto;
        padding: 0;
        color: white;
        border-bottom: none;
        background-color: #2a2a2a;
        z-index: 2;                     
        position: absolute;
        top: -1.4rem;
        left: 0rem;
    }

    #projects .circle {
        display: initial;
    }

    .project-title {
        display: block;
        margin-right: 3rem;
        font-size: 2rem;
    }

    .project-container {
        width: 100%;
        height: auto;
        margin: 0;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        padding: 3rem 0;
        border: 5px solid white;
        border-left: none;
        border-top: none;
        position: relative;
    }

    .project-description {
        display: block;
        width: 50%;
        text-align: left;
        align-self: flex-start;
    }

    .project-description li {
        margin-top: 1rem;
    }

    .project-description li a {
        color: #1bc778;
    }

    .project-description li a:hover {
        color: #28f08c;
    }

    .project-description li.button-container {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        gap: 1rem;
    }

    .app-demo {
        color: white;
    }

    .project-description li.button-container .button {
        align-self: center;
        border: 1px solid white;
        display: inline-block;
        font-family: 'Josefin Sans';
        font-weight: 300;
        text-decoration: none;
        padding: 0.45rem;
    }

    .project-description li.button-container .button:active {
        background-color: #fff;
        color: #1bc778;
        border-color:#1bc778
    }

    .project-media-container {
        margin: 0 auto;
    }

    .project-media {
        max-width: 75%;
        margin: 0 auto;
    }

    .old-website-video {
        width: 75%;
    }

    .projects-banner-container {
        position: relative;
    }

    .decoration-circle-container {
        margin: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        height: auto;
        width: auto;
    }


    .decoration-circle-container::after {
        width: 15vw;
        height: 5px;
    }

    .second-border-width {
        height: 5px;
        width: 15vw;
        position: absolute;
        top: 0;
        right: 0;
        background-color: white;
    }

    .second-border-length {
        height: 35vh;
        width: 5px;
        position: absolute;
        top: 0;
        right: 0;
        background-color: white;
    }

    .projects-banner {
        display: initial;
        margin-top: 7rem;
        width: 75%;
    }

    .projects-circle-border-container {
        position: absolute;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 0;
        top: 0;
    }

    #last {
        right: -1.4vw;
    }

    .project-border {
        width: 5px;
        height: 25vh;
        background-color: white;
    }

    .size-large {
        height: 2rem;
        width: 2rem;
    }
    
    .size-medium {
        height: 1.5rem;
        width: 1.5rem;
        border-width: 5px;
    }
    
    .size-small {
        height: 1rem;
        width: 1rem;
        border-width: 3px;
    }
    
    #circle-1 {
        top: 0;
        left: 25%;
    }

    #circle-2 {
        top: 2%;
        right: 27%;
    }

    #circle-3 {
        top: 8%;
        left: 10%;
    }

    #circle-4 {
        top: 10%;
        right: 45%;
    }

    #circle-5 {
        top: 12%;
        left: 37%;
    }

    #circle-6 {
        top: 10%;
        right: 10%;
    }
}